.row.sort
  - box 5, "Booth Chat" do
    #chat_widget{:title => "Booth chat"}
      .panel
        .panel-body
          %ul.chat
            = sync partial: 'chat_widget', collection: @booth.chats
            = sync_new partial: 'chat_widget', resource: Chat.new, direction: :append
        .panel-footer
          = simple_form_for(@booth, url: booth_chats_path(@booth), method: :post, remote: true) do |f|
            .input-group
              %input#chat-message.form-control.input-sm{name: "chat[message]", placeholder: "Type your message here...", type: "text"}
              %input{type: "hidden", name: "chat[from_user_id]", value: "#{current_user.id}"}
              %input{type: "hidden", name: "chat[chattable_id]", value: "#{@booth.id}"}
              %input{type: "hidden", name: "chat[chattable_type]", value: "Booth"}
              %span.input-group-btn
                %button#btn-chat.btn.btn-warning.btn-sm{:type => 'submit'}
                  Send
            = f.error_notification

  - box 5, "List of clients who initiated chat", nil, 'inverse' do
    aa