#mainHall
  .intro.section
    .eventSection
      .eventLogo
        = image_tag @event_logo
      -if @main_sponsor_logo
        .sponsorSection
          .tagline
            =@hall.venue.sponsor_tagline
          .sponsorLogo
            -if hall.venue.main_sponsor_url && hall.venue
              = link_to image_tag(@main_sponsor_logo), @hall.venue.main_sponsor_url, :target => "_blank"
            -else
              = image_tag(@main_sponsor_logo)
    .eventDescription
      .title
        =@hall.venue.event_welcome_heading
      .description
        =raw @hall.venue.event_welcome_text
      -if @hall.welcome_video_content.present?
        %a.replayVideo.generalButton{href: "javascript: playMainHallVideo();"}
          =fa_icon("video-camera")
          Replay Welcome Video
  .knowledgeCenter.section
    .title
      Featured in the Knowledge Centre
    -halls = @hall.venue.knowledge_halls
    -if halls.size >= 1
      .featuredKCContent
        -knowledgeHall = halls[0]
        -get_knowledge_center_featured_content(3).each do |content|
          %a.featurevideo.contentItem{href: venue_venue_hall_visit_path(@hall.venue, knowledgeHall, previewContent: content.id)}
            .titleArea
              .heading
                =content.name
              .subheading
                =content.short_desc
            .contentThumbnail
              =render partial: "contents/thumbnail_content", locals: {content: content, width: 173, height: 100}
      %a.browse.generalButton{href: venue_venue_hall_visit_path(@hall.venue, knowledgeHall)}
        Browse Knowledge Centre
  .boothsList.section
    .title
      Discover what our Exhibitors have on offer
    #video-carousel.carousel.slide.article-slide{"data-ride" => "carousel"}
      .slider-container
        .carousel-inner.cont-slider
          -boothIndex = 0
          -boothsList = []

          -@hall.venue.halls.each do |subHall|
            -subHall.booths.each do |booth|
              -boothsList.push(booth)
              
          -boothsList.shuffle.each_slice(3) do |boothListItem|
            .item{ :class => "#{boothIndex == 0 ? 'active' : '' }" }
              .boothGroup
                -boothListItem.each do |booth|
                  .imageFrame
                    = link_to(image_tag(booth.company_logo.assets.url), booth_path(booth)) if booth.company_logo
                -boothIndex += 1
              
        %a.left.carousel-control{"data-slide" => "prev", href: "#video-carousel"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", href: "#video-carousel"}
          %span.glyphicon.glyphicon-chevron-right
    -halls = @hall.venue.booth_list_halls
    -if (halls.size >= 1)
      %a.browse.generalButton{href: venue_venue_hall_visit_path(@hall.venue, halls[0])}
        Browse All Exhibitor Booths
