= simple_form_for(@template, :html => { :class => "form-horizontal" }, :wrapper => "horizontal", defaults: { :input_html => { class: "form-control"}, label_html: { class: "col-lg-4" } } ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :jumbotron_available
    = f.input :template_type, collection: get_template_types(), prompt: "Select a template type"
    = f.input :template_sub_type, collection: get_template_sub_types(), prompt: "Select a template sub type"
    = simple_form_image_paperclip(f, :uploaded_file, label: 'Template Image')
    = simple_form_image_paperclip(f, :thumbnail_image)
  
  .form-actions
    = f.button :submit, class: "btn btn-primary"
