- box 6, "Select from list of available booths" do
  %table.table.table-striped.table-bordered.table-hover.dataTable
    %thead
      %tr
        %th Id
        %th Name
        %th Hall
        %th Event
        %th Actions
    %tbody
      - @booths.each do |booth|
        %tr
          %td= booth.id
          %td= booth.name
          %td= link_to booth.hall.name, venue_venue_hall_visit_path(booth.hall.venue, booth.hall)
          %td= booth.event.name
          %td
            = link_to 'Visitor view', booth_path(booth)
            = link_to 'Edit', edit_booth_path(booth)
            = link_to 'Booth rep view', booth_rep_path(booth)
