%h2.tk-ff-meta-web-pro Welcome to the world of virtual events!
%p
  %strong= "Event Name:"
  = "#{current_user.events.first.name},"
  = "#{current_user.events.first.start.strftime("%d %B %Y")} - #{current_user.events.first.finish.strftime("%d %B %Y")}"
%p
  %strong Exhibitor:
  = current_user.company

.row
  .col-md-6
    .row
      - box 12, "Manange Booth", nil, "inverse" do
        %p To add to or alter the contents of your booth, use the links below:
        %ul.list-inline
          %li 
            %a{ :href => edit_booth_path(@booths.first) } Core Booth Setup
            |
          %li
            %a{ :href => products_path } Products
            |
          %li
            %a{ :href => contents_path } Content

        = link_to 'Preview Booth', booth_path(@booths.first), :class => "btn btn-success", 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'title' => 'View as Visitor'

      = render partial: "my_status", locals: { current_user: current_user }

  .col-md-6
    .row
      - box 12, "Locations", nil, "inverse" do
        #locations.text-center
          - if current_user.booths.present?
            %ul.list-inline
              %li
                %h3 Main Hall
                = link_to(image_tag(current_user.booths.first.hall.parent.template.uploaded_file.assets.url, class: "img-circle", :style => "width:350px;"), venue_venue_hall_visit_path(current_user.booths.first.hall.parent.venue, current_user.booths.first.hall.parent))
              %li
                %h3 Exhibition Hall
                = link_to(image_tag(current_user.booths.first.hall.template.uploaded_file.assets.url, class: "img-circle", :style => "width:350px;"), venue_venue_hall_visit_path(current_user.booths.first.hall.venue, current_user.booths.first.hall))
              %li
                %h3 Booth
                = link_to(image_tag(current_user.booths.first.template.uploaded_file.assets.url, class: "img-circle", :style => "width:350px;"), booth_path(current_user.booths.first))