#top.topNavigationMenu
    %nav.navbar.navbar-inverse.navbar-static-top.navbar-fixed-top
        %header.navbar-header
            %button{:class => "navbar-toggle", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
        - unless browser.ie8?
            .topnav
                .btn-toolbar
                    .btn-group
                        =link_to fa_icon("power-off"), destroy_user_session_path, :method=>'delete', :title => "Logout", :data => {:toggle => "tooltip", :placement => "bottom"}, :class => "btn btn-metis-1 btn-sm"

        .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
                %li
                    %a{:href => root_path}
                        = fa_icon ApplicationController::ICONS[:dashboard]
                        Dashboard
                - unless params[:controller] == 'venues' && params[:action] == 'dashboard'
                    %li
                        %a{:href => venues_dashboard_path} 
                            = fa_icon ApplicationController::ICONS[:venue]
                            Venues
                    - if @venue.present? && (params[:action] != 'new')
                        %li.dropdown
                            %a{:href => "javascript;;", :class => "dropdown-toggle", "data-toggle" => "dropdown"} 
                                = fa_icon ApplicationController::ICONS[:hall]
                                Change Hall
                                %b.caret
                            %ul.dropdown-menu
                                - @venue.halls.each do |hall|
                                    %li
                                        = link_to hall.name, venue_venue_hall_visit_path(hall.venue, hall)
                        %li
                            %a{:href => venue_events_path(@venue)}
                                = fa_icon ApplicationController::ICONS[:event]
                                Events
                        %li
                            %a{:href => venue_halls_path(@venue)}
                                = fa_icon ApplicationController::ICONS[:hall]
                                Halls

                    - if @hall.present? && (params[:action] != 'new')
                        %li
                            %a{:href => hall_booths_path(@hall)} 
                                = fa_icon ApplicationController::ICONS[:booth]
                                Booths

    - unless current_user.has_role? :booth_rep
        %header.head
            .search-bar
                - unless current_user.has_role? :visitor
                    .btn-group.pull-right
                        %ul.list-inline
                            %li Show / Hide Sidebar
                            %li 
                                %a{"data-placement" => "bottom", "title" => "Show / Hide Sidebar", "data-toggle" => "tooltip", :class => "btn btn-success btn-sm", :id => "changeSidebarPos"}
                                    = fa_icon "arrows-h"
            .main-bar
                - if params[:controller] == "halls" && params[:action] == "visit"
                    / = image_tag @venue_background_url
                - else
                    %h3
                        #{fa_icon 'home' } #{link_to(@venue.name.concat(" >"), venue_path(@venue)) if @venue.name.present? if @venue.present?} #{link_to(@hall.name.concat(" >"), venue_venue_hall_visit_path(@venue, @hall)) if @hall.name.present? if @hall.present?} #{params[:controller].capitalize} > #{params[:action].gsub("_"," ").capitalize}