#top.topNavigationMenu
    %nav.navbar.navbar-inverse.navbar-static-top.navbar-fixed-top
        %header.navbar-header
            %button{:class => "navbar-toggle", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar

        .pull-right
            %ul.nav.navbar-nav
                - unless browser.ie8?
                    %li{:style => "padding:10px;"}
                        .btn-group
                            %a{"data-placement" => "bottom", "title" => "Message", :href => "#", "data-toggle" => "tooltip", :class => "btn btn-default btn-sm", id: "chat-messages"}
                                = fa_icon "comments"
                                %span.label.label-danger.unread-msgs
                                    = @unread_chats
                    %li.dropdown{:style => "width:200px;"}
                        - if @image_url.present?
                            %img.media-object.img-thumbnail.user-img{:alt => "User Picture", :src => @image_url, :style => "width: 60px;height: 35px;float: left;margin-right: 10px;margin-top: 5px;"}
                        %a{:href => "javascript;;", :class => "dropdown-toggle", "data-toggle" => "dropdown"} 
                            = current_user.name
                            %b.caret
                        %ul.dropdown-menu
                            %li= link_to "Update my profile", edit_user_registration_path
                            %li= link_to "Sign out", destroy_user_session_path, :method=>'delete'


        .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
                %li
                    %a{:href => root_path}
                        = fa_icon "dashboard"
                        Dashboard

                %li.dropdown
                    %a{:href => "javascript;;", :class => "dropdown-toggle", "data-toggle" => "dropdown"} 
                        = fa_icon "building-o"
                        Change Hall
                        %b.caret
                    %ul.dropdown-menu
                        - if current_user.booths.present?
                            - current_user.booths.first.hall.venue.halls.each do |hall|
                                %li
                                    = link_to hall.name, venue_venue_hall_visit_path(hall.venue, hall)
                - if browser.ie8?
                    %li{:style => "padding:10px;"}
                        .btn-group
                            %a{"data-placement" => "bottom", "title" => "Message", :href => "javascript:;", "data-toggle" => "tooltip", :class => "btn btn-default btn-sm", id: "chat-messages"}
                                = fa_icon "comments"
                                %span.label.label-danger.unread-msgs
                                    = @unread_chats
                    %li.dropdown{:style => "width:200px;"}
                        - if @image_url.present?
                            %img.media-object.img-thumbnail.user-img{:alt => "User Picture", :src => @image_url, :style => "width: 60px;height: 35px;float: left;margin-right: 10px;margin-top: 5px;"}
                        %a{:href => "javascript;;", :class => "dropdown-toggle", "data-toggle" => "dropdown"} 
                            = current_user.name
                            %b.caret
                        %ul.dropdown-menu
                            %li= link_to "Update my profile", edit_user_registration_path
                            %li= link_to "Sign out", destroy_user_session_path, :method=>'delete'